<template>
  <div>
    <div class="counter-time">Counter time: {{ counter }}</div>
    <div class="progress-bar">
      <div :style="{ width: progressPercentage + '%' }"></div>
    </div>
    <h1>{{ currentQuestion.question }}</h1>
    <ul>
      <li v-for="answer in currentQuestion.answers" :key="answer.text">
        <label>
          <input
            type="radio"
            :value="answer.text"
            v-model="selectedAnswer"
            :disabled="isAnswered"
          />
          {{ answer.text }}
        </label>
      </li>
    </ul>
    <div v-if="showResult">
      <p>Result: {{ result }}%</p>
      <button @click="restartQuiz">Restart Quiz</button>
    </div>
    <div class="bullet-container">
      <div
        v-for="(bulletColor, index) in bulletColors"
        :key="index"
        :class="['bullet', bulletColor]"
      ></div>
    </div>
  </div>
</template>

<script>
import questionsData from "./question.json";

export default {
  data() {
    return {
      questions: [],
      currentQuestionIndex: 0,
      selectedAnswer: null,
      isAnswered: false,
      showResult: false,
      result: 0,
      timer: null,
      timeLimit: 10,
      bulletColors: Array(5).fill(""),
      progressPercentage: 100,
      counter: 10,
    };
  },
  async mounted() {
    this.questions = questionsData;
    this.shuffleOptions();
    this.startTimer();
    try {
      const response = await this.$axios.$get("./question.json"); // Example API endpoint for fetching questions
      this.questions = response.questions;
      this.shuffleOptions();
      this.startTimer();
    } catch (error) {
      console.error(error);
    }
  },
  methods: {
    shuffleOptions() {
      for (const question of this.questions) {
        question.answers.sort(() => Math.random() - 0.5);
      }
    },
    startTimer() {
      const startTime = Date.now();
      this.timer = setInterval(() => {
        const elapsedTime = Math.floor((Date.now() - startTime) / 1000);
        const timeRemaining = this.timeLimit - elapsedTime;
        if (timeRemaining >= 0) {
          this.counter = timeRemaining;
          this.progressPercentage = (timeRemaining / this.timeLimit) * 100;
        } else {
          this.submitAnswer();
        }
      }, 1000);
    },
    submitAnswer() {
      clearInterval(this.timer);
      const currentQuestion = this.questions[this.currentQuestionIndex];

      if (!currentQuestion) {
        return;
      }

      const selectedAnswer = currentQuestion.answers.find(
        (answer) => answer.text === this.selectedAnswer
      );

      if (selectedAnswer && selectedAnswer.correct) {
        this.result += 1;
        this.bulletColors[this.currentQuestionIndex] = "correct";
      } else {
        this.bulletColors[this.currentQuestionIndex] = "wrong";
      }

      this.isAnswered = true;

      if (this.currentQuestionIndex === this.questions.length - 1) {
        this.showResult = true;
        this.result = Math.round((this.result / this.questions.length) * 100);
      } else {
        setTimeout(() => {
          this.currentQuestionIndex++;
          this.selectedAnswer = null;
          this.isAnswered = false;
          this.shuffleOptions();
          this.counter = 10;
          this.startTimer();
        }, 2000);
      }
    },

    restartQuiz() {
      this.currentQuestionIndex = 0;
      this.selectedAnswer = null;
      this.isAnswered = false;
      this.showResult = false;
      this.result = 0;
      this.progressPercentage = 100;
      this.bulletColors = Array(5).fill(""); // Reset bullet colors to empty strings
      this.counter = 10;
      this.shuffleOptions();
      this.startTimer();
    },
  },
  computed: {
    currentQuestion() {
      return this.questions[this.currentQuestionIndex] || {};
    },
  },
};
</script>

<style lang="scss">
$primary-color: #8bc34a;
$secondary-color: #f0f0f0;
$correct-color: green;
$wrong-color: red;

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: $secondary-color;
  margin-top: 10px;
  margin-bottom: 20px;

  div {
    height: 100%;
    background-color: $primary-color;
    transition: width 1s linear;
  }
}

.bullet-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: white;
    border: 1px solid black;
  }

  .correct {
    background-color: $correct-color;
  }

  .wrong {
    background-color: $wrong-color;
  }
}

.counter-time {
  text-align: center;
  margin-bottom: 10px;
}
</style>
